In [1]:
import pandas as pd
df = pd.read_csv(r'/Users/arup/Documents/sorter-clubbing-optimizer/origin_destination_flow.csv')

df

/var/folders/lw/mxt4vf712k5_lslhrjcqqj700000gn/T/ipykernel_77940/1517739348.py:2: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,545,546,547,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,578,580,581,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,656,657,658,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,682,683,684,685,686,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,738,739,740,741,743,744,745,746,747,748,749,750,752,753,754,755,756,757,758,759,762,763,764,765,767,768,769,771,772,773,774,775,776,777,778,779,780,781,782,783,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,802,805,806,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,862,863,864,865,867,869,870,871,872,873,874,875,876,878,879,880,883,884,885,886,887,889,890,891,892,893,894,895,896,897,898,899,900,902,903,904,905,907,908,910,912,913,914,915,916,917,918,919,920,921,922,923,924,926,928,929,930,932,933,934,935,939,941,942,943,944,945,946,947,949,950,951,952,953,954,955,956,958,960,961,962,963,965,966,967,968,969,971,972,974,976,977,978,979,980,981,982,983,984,985,986,987,989,990,991,992,993,994,995,996,997,998,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1026,1027,1028,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1047,1048,1049,1050,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'/Users/arup/Documents/sorter-clubbing-optimizer/origin_destination_flow.csv')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,Volume,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,BBI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,ANGUL,BALASORE,BERHAMPUR -OR,NaN,BHADRAK,...,NaN,NaN,RATNAGIRI,SANGLI,SATARA,NaN,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,W09-ANGUL BRANCH,W06-BALASORE BRANCH,W04-BERHAMPUR BRANCH,W54-KHALLIKOTE BRANCH,W14-BHADRAK SORTING OFFICE,...,P65-RANJANGAON BRANCH,P73-TALEGAON BRANCH,P60-RATNAGIRI BRANCH,P10-SANGLI SUPER FRANCHISEE,P13-SATARA SUPER FRANCHISEE,P32-KARAD SORTING OFFICE,P71-SHIRDI-NODAL POINT,P57-SHIRWAL BRANCH,P06-SOLAPUR BRANCH,P28-TEMBHURNI SORTING OFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,NaN,NaN,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,BP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
2472,NaN,NaN,NaN,NaN,BS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2473,NaN,NaN,NaN,NaN,EP,NaN,NaN,NaN,NaN,NaN,...,0.20,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN
2474,NaN,NaN,NaN,NaN,ES,NaN,NaN,NaN,NaN,NaN,...,1.52,2.87,3.0,11.01,9.63,8.02,1.06,2.46,36.10,0.78
2475,NaN,NaN,NaN,NaN,GP,NaN,NaN,NaN,NaN,NaN,...,3.88,NaN,NaN,2.9,NaN,NaN,2.0,NaN,10.80,NaN

In [2]:
# For the first 4 columns, fill down the last seen non-null value from row index 5 onwards
cols_to_fill = df.columns[:4]
for col in cols_to_fill:
    df.loc[5:, col] = df.loc[5:, col].ffill()

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,Volume,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,East,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,BBI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,ANGUL,BALASORE,BERHAMPUR -OR,NaN,BHADRAK,...,NaN,NaN,RATNAGIRI,SANGLI,SATARA,NaN,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,W09-ANGUL BRANCH,W06-BALASORE BRANCH,W04-BERHAMPUR BRANCH,W54-KHALLIKOTE BRANCH,W14-BHADRAK SORTING OFFICE,...,P65-RANJANGAON BRANCH,P73-TALEGAON BRANCH,P60-RATNAGIRI BRANCH,P10-SANGLI SUPER FRANCHISEE,P13-SATARA SUPER FRANCHISEE,P32-KARAD SORTING OFFICE,P71-SHIRDI-NODAL POINT,P57-SHIRWAL BRANCH,P06-SOLAPUR BRANCH,P28-TEMBHURNI SORTING OFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,BP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
2472,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,BS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2473,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,EP,NaN,NaN,NaN,NaN,NaN,...,0.20,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN
2474,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,ES,NaN,NaN,NaN,NaN,NaN,...,1.52,2.87,3.0,11.01,9.63,8.02,1.06,2.46,36.10,0.78
2475,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,GP,NaN,NaN,NaN,NaN,NaN,...,3.88,NaN,NaN,2.9,NaN,NaN,2.0,NaN,10.80,NaN

In [3]:
second_col = df.iloc[1:, 1]
distinct_values = pd.unique(second_col.dropna())

print(distinct_values)
print("No of Regions: ", len(distinct_values))

['BBI' 'CCU' 'GAU' 'PAT' 'EUP' 'GGN' 'HHPT' 'JAI' 'NDL' 'SDL' 'WUP' 'BLR'
 'CHE' 'CJB' 'COK' 'HYD' 'VJA' 'AMD' 'IDR' 'MUM' 'NGP' 'PNQ']
No of Regions:  22

In [4]:
# Change any value in the 2nd column that is 'EUP' or 'WUP' to 'UPT'
df.iloc[:, 1] = df.iloc[:, 1].replace({'EUP': 'UPT', 'WUP': 'UPT'})

# Change any value in the 2nd column that is 'NDL' or 'SDL' or 'GGN' to 'DDL'
df.iloc[:, 1] = df.iloc[:, 1].replace({'NDL': 'DDL', 'SDL': 'DDL', 'GGN':'DDL'})

In [5]:
second_col = df.iloc[1:, 1]
distinct_values = pd.unique(second_col.dropna())

print(distinct_values)
print("No of Regions: ", len(distinct_values))

['BBI' 'CCU' 'GAU' 'PAT' 'UPT' 'DDL' 'HHPT' 'JAI' 'BLR' 'CHE' 'CJB' 'COK'
 'HYD' 'VJA' 'AMD' 'IDR' 'MUM' 'NGP' 'PNQ']
No of Regions:  19

In [6]:
# For the first 4 rows, fill right (horizontally) from the 6th column onwards with the last seen non-null value
import numpy as np

start_col = 5  # 0-based index, so 6th column
end_col = df.shape[1]
for row in range(4):
    last_val = np.nan
    for col in range(start_col, end_col):
        if pd.notnull(df.iat[row, col]):
            last_val = df.iat[row, col]
        else:
            df.iat[row, col] = last_val

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,Volume,Volume,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,East,East,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,BBI,BBI,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,ANGUL,BALASORE,BERHAMPUR -OR,BERHAMPUR -OR,BHADRAK,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,W09-ANGUL BRANCH,W06-BALASORE BRANCH,W04-BERHAMPUR BRANCH,W54-KHALLIKOTE BRANCH,W14-BHADRAK SORTING OFFICE,...,P65-RANJANGAON BRANCH,P73-TALEGAON BRANCH,P60-RATNAGIRI BRANCH,P10-SANGLI SUPER FRANCHISEE,P13-SATARA SUPER FRANCHISEE,P32-KARAD SORTING OFFICE,P71-SHIRDI-NODAL POINT,P57-SHIRWAL BRANCH,P06-SOLAPUR BRANCH,P28-TEMBHURNI SORTING OFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,BP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
2472,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,BS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2473,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,EP,NaN,NaN,NaN,NaN,NaN,...,0.20,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN
2474,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,ES,NaN,NaN,NaN,NaN,NaN,...,1.52,2.87,3.0,11.01,9.63,8.02,1.06,2.46,36.10,0.78
2475,West,PNQ,TEMBHURNI,P28-TEMBHURNI SORTING OFFICE,GP,NaN,NaN,NaN,NaN,NaN,...,3.88,NaN,NaN,2.9,NaN,NaN,2.0,NaN,10.80,NaN

In [7]:
third_row = df.iloc[2, 5:]
distinct_values = pd.unique(third_row.dropna())

print(distinct_values)
print("No of Regions: ", len(distinct_values))

['BBI' 'CCU' 'GAU' 'PAT' 'EUP' 'GGN' 'HHPT' 'JAI' 'NDL' 'SDL' 'WUP' 'BLR'
 'CHE' 'CJB' 'COK' 'HYD' 'VJA' 'AMD' 'IDR' 'MUM' 'NGP' 'PNQ']
No of Regions:  22

In [8]:
# Change any value in the 3rd row that is 'EUP' or 'WUP' to 'UPT'
df.iloc[2, 5:] =  df.iloc[2, 5:].replace({'EUP': 'UPT', 'WUP': 'UPT'})

# Change any value in the 3rd row that is 'NDL' or 'SDL' or 'GGN' to 'DDL'
df.iloc[2, 5:] =  df.iloc[2, 5:].replace({'NDL': 'DDL', 'SDL': 'DDL', 'GGN':'DDL'})

In [9]:
third_row = df.iloc[2, 5:]
distinct_values = pd.unique(third_row.dropna())

print(distinct_values)
print("No of Regions: ", len(distinct_values))

['BBI' 'CCU' 'GAU' 'PAT' 'UPT' 'DDL' 'HHPT' 'JAI' 'BLR' 'CHE' 'CJB' 'COK'
 'HYD' 'VJA' 'AMD' 'IDR' 'MUM' 'NGP' 'PNQ']
No of Regions:  19

In [10]:
import pandas as pd

# --- Split 4th column (index 3) into branch_code and branch_name ---
split_cols = df.iloc[:, 3].str.split('-', n=1, expand=True)

df.insert(4, 'branch_code', split_cols[0])   # first part before '-'
df.insert(5, 'branch_name', split_cols[1])   # second part after '-'
df.drop(df.columns[3], axis=1, inplace=True)  # drop original column

# --- Shift everything from row 5 downward by 1 to make space ---
df.iloc[5:] = df.iloc[5:].shift(1)
df.loc[5] = None   # make sure row 5 exists and is blank

# --- For the row with index 4, split cells containing '-' into row 4 and row 5 ---
for col in df.columns:
    val = df.at[4, col]
    if isinstance(val, str) and '-' in val:
        before, after = val.split('-', 1)
        df.at[4, col] = before
        df.at[5, col] = after  # safe: row 5 is empty now

df = df.reset_index(drop=True)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,branch_code,branch_name,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,NaN,Volume,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,NaN,East,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,NaN,BBI,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,NaN,ANGUL,BALASORE,BERHAMPUR -OR,BERHAMPUR -OR,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,NaN,W09,W06,W04,W54,...,P65,P73,P60,P10,P13,P32,P71,P57,P06,P28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,West,PNQ,SOLAPUR,P06,SOLAPUR BRANCH,GP,NaN,NaN,NaN,NaN,...,56.90,56.25,NaN,50.9,10.25,30.42,NaN,2.00,78.65,35.00
2472,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,BP,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
2473,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,BS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2474,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,EP,NaN,NaN,NaN,NaN,...,0.20,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN
2475,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,ES,NaN,NaN,NaN,NaN,...,1.52,2.87,3.0,11.01,9.63,8.02,1.06,2.46,36.10,0.78

In [11]:
# Mapping from product code → new service type
def map_service_type(code):
    if code == "EP" or code == "BP":
        return "Air Red"
    elif code == "ES" or code == "BS":
        return "Air White"
    elif code == "GP":
        return "Ground"
    else:
        return None

# Insert a new column at position 6 with the new service type
df.insert(
    5,
    'service_type',
    df.iloc[:, 5].map(map_service_type)
)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,branch_code,branch_name,service_type,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,None,NaN,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,None,NaN,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,None,NaN,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,None,NaN,ANGUL,BALASORE,BERHAMPUR -OR,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,None,NaN,W09,W06,W04,...,P65,P73,P60,P10,P13,P32,P71,P57,P06,P28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,West,PNQ,SOLAPUR,P06,SOLAPUR BRANCH,Ground,GP,NaN,NaN,NaN,...,56.90,56.25,NaN,50.9,10.25,30.42,NaN,2.00,78.65,35.00
2472,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,BP,NaN,NaN,NaN,...,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN
2473,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,BS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2474,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,EP,NaN,NaN,NaN,...,0.20,NaN,NaN,NaN,NaN,NaN,0.1,NaN,NaN,NaN
2475,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,ES,NaN,NaN,NaN,...,1.52,2.87,3.0,11.01,9.63,8.02,1.06,2.46,36.10,0.78

In [12]:
# From 7th row and 8th column, ensure all values are numbers, fix numbers written as text with commas and decimals, fill missing values with 0, and divide each value by 25 to get per day values

# Select the sub-DataFrame to process
numeric_block = df.iloc[6:, 7:]

# Remove commas (thousands separator), convert to float, coerce errors to NaN, and divide by 25
def clean_number_per_day(x):
    if pd.isna(x):
        return 0
    try:
        return float(str(x).replace(',', '')) / 25
    except Exception:
        return 0

numeric_block = numeric_block.applymap(clean_number_per_day)

# Assign back to the original DataFrame
df.iloc[6:, 7:] = numeric_block

df

/var/folders/lw/mxt4vf712k5_lslhrjcqqj700000gn/T/ipykernel_77940/408274873.py:15: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  numeric_block = numeric_block.applymap(clean_number_per_day)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,branch_code,branch_name,service_type,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,None,NaN,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,None,NaN,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,None,NaN,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,None,NaN,ANGUL,BALASORE,BERHAMPUR -OR,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,None,NaN,W09,W06,W04,...,P65,P73,P60,P10,P13,P32,P71,P57,P06,P28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,West,PNQ,SOLAPUR,P06,SOLAPUR BRANCH,Ground,GP,0.0,0.0,0.0,...,2.276,2.25,0.0,2.036,0.41,1.2168,0.0,0.08,3.146,1.4
2472,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,BP,0.0,0.0,0.0,...,0.0,0.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0.0
2473,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,BS,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2474,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,EP,0.0,0.0,0.0,...,0.008,0.0,0.0,0.0,0.0,0.0,0.004,0.0,0.0,0.0
2475,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,ES,0.0,0.0,0.0,...,0.0608,0.1148,0.12,0.4404,0.3852,0.3208,0.0424,0.0984,1.444,0.0312

In [13]:
# Remove rows where the 5th column contains 'Hub' or 'Apex' (case-insensitive)
df = df[~df.iloc[:, 4].astype(str).str.contains(r'Hub|Apex', case=False, na=False)]
df = df.reset_index(drop=True)

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,branch_code,branch_name,service_type,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,None,NaN,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,None,NaN,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,None,NaN,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,None,NaN,ANGUL,BALASORE,BERHAMPUR -OR,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,None,NaN,W09,W06,W04,...,P65,P73,P60,P10,P13,P32,P71,P57,P06,P28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,West,PNQ,SOLAPUR,P06,SOLAPUR BRANCH,Ground,GP,0.0,0.0,0.0,...,2.276,2.25,0.0,2.036,0.41,1.2168,0.0,0.08,3.146,1.4
2189,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,BP,0.0,0.0,0.0,...,0.0,0.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0.0
2190,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,BS,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2191,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,EP,0.0,0.0,0.0,...,0.008,0.0,0.0,0.0,0.0,0.0,0.004,0.0,0.0,0.0
2192,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,ES,0.0,0.0,0.0,...,0.0608,0.1148,0.12,0.4404,0.3852,0.3208,0.0424,0.0984,1.444,0.0312

In [14]:
# Remove any column in 6th row (index 5) which has the word 'hub' or 'apex' (case-insensitive)
mask = ~df.iloc[5, :].astype(str).str.contains(r'Hub|Apex', case=False, na=False)
df = df.loc[:, mask]

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,branch_code,branch_name,service_type,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,...,Unnamed: 1059,Unnamed: 1060,Unnamed: 1061,Unnamed: 1062,Unnamed: 1063,Unnamed: 1064,Unnamed: 1065,Unnamed: 1066,Unnamed: 1067,Unnamed: 1068
0,NaN,NaN,NaN,NaN,NaN,None,NaN,Volume,Volume,Volume,...,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt,Billed Wt
1,NaN,NaN,NaN,NaN,NaN,None,NaN,East,East,East,...,West,West,West,West,West,West,West,West,West,West
2,NaN,NaN,NaN,NaN,NaN,None,NaN,BBI,BBI,BBI,...,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ,PNQ
3,NaN,NaN,NaN,NaN,NaN,None,NaN,ANGUL,BALASORE,BERHAMPUR -OR,...,PUNE,PUNE,RATNAGIRI,SANGLI,SATARA,SATARA,SHIRDI,SHIRWAL,SOLAPUR,TEMBHURNI
4,NaN,NaN,NaN,NaN,NaN,None,NaN,W09,W06,W04,...,P65,P73,P60,P10,P13,P32,P71,P57,P06,P28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,West,PNQ,SOLAPUR,P06,SOLAPUR BRANCH,Ground,GP,0.0,0.0,0.0,...,2.276,2.25,0.0,2.036,0.41,1.2168,0.0,0.08,3.146,1.4
2189,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,BP,0.0,0.0,0.0,...,0.0,0.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0.0
2190,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,BS,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2191,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air Red,EP,0.0,0.0,0.0,...,0.008,0.0,0.0,0.0,0.0,0.0,0.004,0.0,0.0,0.0
2192,West,PNQ,TEMBHURNI,P28,TEMBHURNI SORTING OFFICE,Air White,ES,0.0,0.0,0.0,...,0.0608,0.1148,0.12,0.4404,0.3852,0.3208,0.0424,0.0984,1.444,0.0312

In [15]:
df.to_csv('data.csv', index=False)

In [16]:
import pandas as pd
import json
from collections import defaultdict

csv_path = "data.csv"

# -------------------------
# --- Read CSV -----------
# -------------------------
df = pd.read_csv(
    csv_path,
    skiprows=1,               # skip empty first row
    header=[0,1,2,3,4,5],     # 6 header rows for destination columns
    index_col=[0,1,2,3,4]     # 5 index levels for origin
)

# -------------------------
# --- Name index and columns
# -------------------------
df.index.set_names(
    ["org_zone", "org_region", "org_city", "org_branch_code", "org_branch_name"],
    inplace=True
)

df.columns.set_names(
    ["type", "des_zone", "des_region", "des_city", "des_branch_code", "des_branch_name"],
    inplace=True
)

# -------------------------
# --- Build origin hierarchical mapping
# -------------------------
origin_mapping = defaultdict(lambda: defaultdict(lambda: defaultdict(dict)))

for idx in df.index:
    zone, region, city, branch_code, branch_name = idx
    origin_mapping[zone][region][city][branch_code] = branch_name

# Save origin mapping
with open("org_mappings.json", "w") as f:
    json.dump(origin_mapping, f, indent=4)

print("✅ Origin mapping saved as org_mappings.json")

# -------------------------
# --- Build destination mapping by type
# -------------------------
col_df = df.columns.to_frame(index=False)

def build_des_mapping(sub_df):
    des_mapping = defaultdict(lambda: defaultdict(lambda: defaultdict(dict)))
    for _, row in sub_df.iterrows():
        zone = row['des_zone']
        region = row['des_region']
        city = row['des_city']
        branch_code = row['des_branch_code']
        branch_name = row['des_branch_name']
        des_mapping[zone][region][city][branch_code] = branch_name
    return des_mapping

# Separate by type
volume_df = col_df[col_df['type'] == 'Volume'][['des_zone','des_region','des_city','des_branch_code','des_branch_name']].drop_duplicates()
billed_df = col_df[col_df['type'] == 'Billed Wt'][['des_zone','des_region','des_city','des_branch_code','des_branch_name']].drop_duplicates()

# Flatten for validation
flat_volume = dict(zip(volume_df['des_branch_code'], volume_df['des_branch_name']))
flat_billed = dict(zip(billed_df['des_branch_code'], billed_df['des_branch_name']))

# -------------------------
# --- Validate and save destination mapping
# -------------------------
if flat_volume == flat_billed:
    print("✅ Volume and Weight Billed branch mappings are identical")
    des_mapping = build_des_mapping(volume_df)  # only need one
    with open("des_mappings.json", "w") as f:
        json.dump(des_mapping, f, indent=4)
    print("✅ Destination mapping saved as des_mappings.json")
else:
    print("❌ Volume and Weight Billed branch mappings differ! Not saving destination mapping.")
    for k in set(flat_volume.keys()).union(flat_billed.keys()):
        v1 = flat_volume.get(k)
        v2 = flat_billed.get(k)
        if v1 != v2:
            print(f"Branch code {k}: Volume='{v1}', Billed='{v2}'")

✅ Origin mapping saved as org_mappings.json
✅ Volume and Weight Billed branch mappings are identical
✅ Destination mapping saved as des_mappings.json

In [17]:
import pandas as pd

# Load the CSV
df = pd.read_csv("data.csv", header=None)

# --- Extract Type A branches ---
type_a = df.iloc[6:, 3].dropna().astype(str).str.strip().unique()

# --- Extract Type B branches ---
type_b = df.iloc[5, 5:].dropna().astype(str).str.strip().unique()

# Convert to sets
set_a = set(type_a)
set_b = set(type_b)

# Common and differences
common = set_a & set_b
only_a = set_a - set_b
only_b = set_b - set_a

# Counts
count_a = len(set_a)
count_b = len(set_b)
count_common = len(common)
count_only_a = len(only_a)
count_only_b = len(only_b)

# Display results
print(f"Unique Type A branches: {count_a}")
print(f"Branches only in Type A ({count_only_a}): {only_a}")
print(f"Unique Type B branches: {count_b}")
print(f"Branches only in Type B ({count_only_b}): {only_b}")
print(f"Common branches: {count_common} → {common}")

Unique Type A branches: 466
Branches only in Type A (4): {'N12', 'K02', 'U146', 'M75'}
Unique Type B branches: 471
Branches only in Type B (9): {'M80', 'X40', 'I48', 'W57', 'K132', 'M82', 'W54', 'X33', 'X04'}
Common branches: 462 → {'B41', 'N37', 'P13', 'M07', 'X27', 'Q12', 'X28', 'A36', 'U13', 'M48', 'C73', 'M05', 'V01', 'P44', 'I40', 'B32', 'U142', 'X30', 'M04', 'C47', 'E10', 'U02', 'P16', 'B06', 'H96', 'J12', 'P21', 'X41', 'W02', 'Q13', 'T13', 'K81', 'H48', 'O14', 'O02', 'U95', 'H09', 'R29', 'P58', 'H98', 'B14', 'C36', 'J08', 'I07', 'P15', 'Q16', 'B42', 'H80', 'U16', 'I46', 'N11', 'S01', 'P28', 'M87', 'U23', 'P32', 'E20', 'P61', 'E02', 'J11', 'W22', 'E21', 'K82', 'V24', 'T26', 'C37', 'S03', 'U145', 'P17', 'P71', 'K85', 'T05', 'P25', 'Q11', 'J03', 'P38', 'U01', 'H91', 'K14', 'A47', 'U110', 'B47', 'M63', 'I34', 'R07', 'V12', 'M39', 'U24', 'M54', 'B27', 'X34', 'I43', 'E11', 'K08', 'O25', 'T39', 'V13', 'U09', 'M68', 'X25', 'X29', 'K54', 'M46', 'W12', 'N42', 'J02', 'K45', 'U25', 'U44', 'K22', 'C38', 'U133', 'B16', 'O13', 'U77', 'H79', 'P57', 'A18', 'P26', 'O01', 'X19', 'Q04', 'X13', 'R10', 'C14', 'Q09', 'J14', 'C57', 'I29', 'U14', 'L03', 'U130', 'M57', 'N35', 'X06', 'R04', 'N15', 'U22', 'U10', 'K01', 'I30', 'V22', 'B63', 'B61', 'Q17', 'H71', 'H17', 'O23', 'B08', 'I16', 'U30', 'U28', 'K104', 'W07', 'V16', 'X18', 'A16', 'K84', 'K06', 'T88', 'Q10', 'X02', 'B95', 'K37', 'T14', 'B19', 'I44', 'B11', 'Q03', 'P29', 'J54', 'H11', 'V11', 'H74', 'O12', 'J18', 'X38', 'R08', 'I08', 'O89', 'U48', 'S04', 'V08', 'X05', 'C53', 'O90', 'B68', 'U03', 'S26', 'U31', 'O07', 'J25', 'C74', 'K119', 'O04', 'I39', 'P06', 'B50', 'B51', 'U17', 'U140', 'Q02', 'N32', 'V09', 'A05', 'I41', 'M47', 'T36', 'X39', 'M35', 'K04', 'T06', 'P24', 'K29', 'J26', 'E03', 'U26', 'K15', 'V21', 'T15', 'N03', 'L04', 'J15', 'V15', 'I11', 'B53', 'T04', 'O17', 'K63', 'P19', 'O21', 'J06', 'E09', 'C02', 'B26', 'T85', 'C13', 'E06', 'U18', 'H10', 'J04', 'P08', 'N31', 'O05', 'T42', 'J16', 'A07', 'U21', 'O88', 'N09', 'K23', 'X12', 'I03', 'P62', 'W52', 'S27', 'P12', 'H70', 'P50', 'M45', 'X36', 'C50', 'B01', 'Q14', 'U27', 'K07', 'J37', 'V58', 'A38', 'J39', 'U12', 'U20', 'T16', 'M85', 'C48', 'K51', 'C22', 'O09', 'B43', 'V04', 'S09', 'U78', 'Q48', 'C60', 'O08', 'K39', 'T87', 'V07', 'Q43', 'M78', 'U135', 'I20', 'B58', 'J13', 'V10', 'K129', 'I02', 'A02', 'K28', 'B62', 'J48', 'T32', 'V57', 'K72', 'B18', 'R13', 'P09', 'J36', 'B38', 'W03', 'P56', 'Q18', 'E16', 'A11', 'A51', 'C59', 'R28', 'N38', 'U143', 'P73', 'W05', 'C15', 'I45', 'K05', 'U19', 'M59', 'X22', 'S17', 'E24', 'J01', 'W09', 'A44', 'V32', 'K40', 'U79', 'W04', 'K74', 'B05', 'O93', 'T34', 'U45', 'Q40', 'R11', 'X14', 'B09', 'B59', 'Q41', 'N10', 'T40', 'P22', 'E07', 'X32', 'J19', 'A03', 'T10', 'W06', 'T09', 'M66', 'V05', 'R32', 'W08', 'L05', 'K68', 'R12', 'O03', 'J05', 'K32', 'P11', 'L27', 'T07', 'Q06', 'A48', 'J07', 'T89', 'O11', 'M01', 'Q34', 'A33', 'U141', 'P65', 'T38', 'W21', 'W14', 'X26', 'B64', 'A24', 'H42', 'H75', 'T86', 'H07', 'B39', 'M08', 'L02', 'H92', 'A27', 'A49', 'Q44', 'U139', 'C30', 'B35', 'Q01', 'U15', 'P04', 'P20', 'J20', 'B07', 'N17', 'K79', 'T03', 'W40', 'Q07', 'X10', 'X15', 'R19', 'J17', 'M06', 'W15', 'I42', 'K03', 'M61', 'Q35', 'B02', 'K56', 'R02', 'B13', 'C08', 'W23', 'B65', 'P27', 'J21', 'P74', 'A46', 'E23', 'N02', 'P60', 'M02', 'T18', 'K27', 'K88', 'L28', 'I19', 'A50', 'J50', 'H08', 'X07', 'U83', 'N33', 'U07', 'O60', 'P72', 'K89', 'H53', 'P10', 'E05', 'U06', 'S02', 'L23', 'X37', 'H37', 'X17', 'A45', 'K75'}

/var/folders/lw/mxt4vf712k5_lslhrjcqqj700000gn/T/ipykernel_77940/1218366381.py:4: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data.csv", header=None)

In [18]:
import pandas as pd

def summarize_by_org_branch_type_service_optimized(csv_path="data.csv"):
    # ==========================
    # Step 1: Load CSV once
    # ==========================
    df = pd.read_csv(
        csv_path,
        skiprows=1,  # skip metadata row
        header=[0, 1, 2, 3, 4, 5],  # include 6 header rows (up to des_branch_name)
        index_col=[0, 1, 2, 3, 4, 5, 6],  # origin info
        low_memory=False
    )

    # Set proper names for indexes and columns
    df.index.set_names(
        [
            "org_zone", "org_region", "org_city",
            "org_branch_code", "org_branch_name",
            "service_type", "org_product"
        ],
        inplace=True
    )
    df.columns.set_names(
        ["type", "des_zone", "des_region", "des_city", "des_branch_code", "des_branch_name"],
        inplace=True
    )

    # Convert to numeric only once
    df = df.apply(pd.to_numeric, errors="coerce").fillna(0)

    # ==========================
    # Step 2: Aggregate
    # ==========================
    grouped = df.groupby(
        level=["org_branch_code", "service_type"]
    ).sum()

    # Prepare final records
    records = []
    for (branch, service_type), sub_df in grouped.groupby(level=["org_branch_code", "service_type"]):
        for type_ in ["Volume", "Billed Wt"]:
            if type_ in sub_df.columns.get_level_values("type"):
                # Filter by type and sum all destination branches
                type_mask = sub_df.columns.get_level_values("type") == type_
                total_sum = sub_df.loc[:, type_mask].sum().sum()
                records.append({
                    "org_branch_code": branch,
                    "service_type": service_type,
                    "type": type_,
                    "sum": round(total_sum, 3)
                })

    return pd.DataFrame(records)


# ==========================
# Example usage
# ==========================
org_branch = summarize_by_org_branch_type_service_optimized("data.csv")
org_branch.to_csv("org_summary.csv", index=False)

org_branch

     org_branch_code service_type       type      sum
0                A02      Air Red     Volume   74.160
1                A02      Air Red  Billed Wt   76.830
2                A02    Air White     Volume  507.720
3                A02    Air White  Billed Wt  498.166
4                A02       Ground     Volume   81.000
...              ...          ...        ...      ...
2731             X39    Air White  Billed Wt    3.028
2732             X39       Ground     Volume    2.760
2733             X39       Ground  Billed Wt   26.518
2734             X41    Air White     Volume    0.040
2735             X41    Air White  Billed Wt    0.004

[2736 rows x 4 columns]

In [19]:
import pandas as pd

def summarize_by_des_branch_type_service(csv_path="data.csv"):
    df = pd.read_csv(
        csv_path,
        skiprows=1,
        header=[0, 1, 2, 3, 4, 5],
        index_col=[0, 1, 2, 3, 5, 6],
        low_memory=False
    )

    # Update index names
    df.index.set_names(
        ["org_zone", "org_region", "org_city", "org_branch_code", "service_type", "org_product"],
        inplace=True
    )
    df.columns.set_names(
        ["type", "des_zone", "des_region", "des_city", "des_branch_code", "des_branch_name"],
        inplace=True
    )

    # Ensure numeric
    df = df.apply(pd.to_numeric, errors="coerce").fillna(0)

    # ==========================
    # Optimized Destination Summary
    # ==========================
    records = []
    for type_ in ["Volume", "Billed Wt"]:
        if type_ in df.columns.get_level_values("type"):
            # Select only this type of columns
            type_df = df.loc[:, df.columns.get_level_values("type") == type_]

            # Sum across origins, grouped by destination branch
            summed = type_df.groupby(
                level=["des_branch_code"], axis=1
            ).sum()

            # Group by service_type across rows
            service_grouped = summed.groupby(df.index.get_level_values("service_type")).sum()

            # Build records
            for des_branch_code in summed.columns:
                for service_type in service_grouped.index.unique():
                    total_sum = summed.loc[df.index.get_level_values("service_type") == service_type, des_branch_code].sum()
                    records.append({
                        "des_branch_code": des_branch_code,
                        "service_type": service_type,
                        "type": type_,
                        "sum": round(total_sum, 3)
                    })

    return pd.DataFrame(records)


# ==========================
# Example usage
# ==========================
des_summary = summarize_by_des_branch_type_service("data.csv")
des_summary.to_csv("des_summary.csv", index=False)

des_summary

/var/folders/lw/mxt4vf712k5_lslhrjcqqj700000gn/T/ipykernel_77940/763537944.py:35: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  summed = type_df.groupby(
/var/folders/lw/mxt4vf712k5_lslhrjcqqj700000gn/T/ipykernel_77940/763537944.py:35: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  summed = type_df.groupby(

     des_branch_code service_type       type       sum
0                A02      Air Red     Volume   209.160
1                A02    Air White     Volume   678.520
2                A02       Ground     Volume    76.520
3                A03      Air Red     Volume   281.000
4                A03    Air White     Volume  1161.240
...              ...          ...        ...       ...
2821             X40    Air White  Billed Wt     5.398
2822             X40       Ground  Billed Wt     1.600
2823             X41      Air Red  Billed Wt     1.090
2824             X41    Air White  Billed Wt    14.242
2825             X41       Ground  Billed Wt    19.437

[2826 rows x 4 columns]

In [20]:
import pandas as pd

# Load the office_location.csv file
office_df = pd.read_csv("office_location.csv")

office_df

,zone,region,city,office,name,lat,lon
0,WEST,AHMEDABAD,AHMEDABAD,A01,AHMEDABAD APEX,23.106556,72.683222
1,WEST,AHMEDABAD,BARODA,A02,BARODA BRANCH,22.334243,73.165526
2,WEST,AHMEDABAD,RAJKOT,A03,RAJKOT BRANCH,22.279834,70.795481
3,WEST,AHMEDABAD,SURAT,A04,SURAT APEX,21.175874,72.955277
4,WEST,AHMEDABAD,VAPI,A05,VAPI BRANCH,20.360250,72.917900
...,...,...,...,...,...,...,...
646,EAST,GUWAHATI,KALIABOR,X41,KOLIABOR SORTING OFFICE,26.545931,92.928489
647,EAST,GUWAHATI,GUWAHATI,X42,DHARAPUR T/S APEX,26.133820,91.620040
648,EAST,GUWAHATI,GUWAHATI,X43,DHARAPUR AIRPORT,26.133820,91.620040
649,EAST,GUWAHATI,MONGALDAI,X44,MANGOLDOI SORTING OFFICE,26.265000,92.024100
650,EAST,GUWAHATI,HALFLONG,X45,HAFLONG SORTING OFFICE,25.167000,93.016000

In [21]:
# Group by lat/lon and aggregate office codes as a list
lat_lon_offices = office_df.groupby(['lat', 'lon'])['office'].agg(list).reset_index()

# For each (lat, lon) shared by multiple offices, print the count and the codes
shared_lat_lon_count = 0
unique_lat_lon_count = 0
for _, row in lat_lon_offices.iterrows():
    if len(row['office']) > 1:
        print(f"({row['lat']}, {row['lon']}): count = {len(row['office'])}, offices = {row['office']}")
        shared_lat_lon_count += 1
    elif len(row['office']) == 1:
        unique_lat_lon_count += 1

print(f"Total (lat, lon) shared by multiple offices: {shared_lat_lon_count}")
print(f"Total (lat, lon) used by only one office: {unique_lat_lon_count}")

(10.06337, 76.28998): count = 4, offices = ['O06', 'O13', 'O91', 'O92']
(11.017391, 76.98321): count = 2, offices = ['E58', 'E59']
(11.6476208, 78.1225439): count = 2, offices = ['E04', 'E14']
(12.79177099, 77.72562365): count = 2, offices = ['B113', 'B61']
(13.0633359, 80.139097): count = 6, offices = ['C20', 'C35', 'C41', 'C54', 'C75', 'C76']
(13.1052, 77.6178): count = 2, offices = ['B118', 'B26']
(13.1066, 77.6187): count = 6, offices = ['B10', 'B112', 'B117', 'B119', 'B24', 'B37']
(16.5479875, 80.6892874): count = 5, offices = ['V06', 'V19', 'V58', 'V59', 'V61']
(17.25955818, 78.37652436): count = 4, offices = ['H106', 'H13', 'H64', 'H96']
(17.5429966, 78.4879812): count = 2, offices = ['H66', 'H90']
(17.73699, 83.26624): count = 3, offices = ['V02', 'V20', 'V60']
(18.53516349, 73.84994089): count = 2, offices = ['P12', 'P64']
(18.628523, 73.873561): count = 4, offices = ['P01', 'P44', 'P75', 'P76']
(19.04935373, 73.02014275): count = 2, offices = ['M08', 'M86']
(19.102839, 72.882515): count = 6, offices = ['M10', 'M13', 'M54', 'M69', 'M83', 'M84']
(19.153508, 72.936865): count = 2, offices = ['M50', 'M59']
(19.16970592, 72.85830827): count = 2, offices = ['M05', 'M74']
(19.30625904, 73.10881733): count = 4, offices = ['M33', 'M35', 'M72', 'M75']
(20.302516, 85.85346): count = 4, offices = ['W52', 'W53', 'W55', 'W56']
(20.4071466, 85.8776718): count = 2, offices = ['W02', 'W58']
(21.0595127, 79.0560147): count = 2, offices = ['R01', 'R05']
(21.175874, 72.955277): count = 2, offices = ['A04', 'A54']
(21.258502, 81.557855): count = 2, offices = ['R06', 'R17']
(22.55660582, 88.39789079): count = 2, offices = ['K26', 'K28']
(22.61790235, 88.27881141): count = 3, offices = ['K128', 'K72', 'K95']
(22.62824545, 88.44588786): count = 7, offices = ['K02', 'K05', 'K134', 'K16', 'K55', 'K65', 'K83']
(22.746583, 75.892511): count = 2, offices = ['I46', 'I48']
(22.746654, 75.892436): count = 3, offices = ['I01', 'I04', 'I47']
(23.106556, 72.683222): count = 3, offices = ['A01', 'A52', 'A53']
(23.27432761, 77.43983616): count = 2, offices = ['I02', 'I10']
(23.35235, 85.377875): count = 5, offices = ['T02', 'T14', 'T33', 'T35', 'T91']
(23.49828, 87.32783): count = 2, offices = ['K136', 'K14']
(23.83510848, 91.27031132): count = 2, offices = ['X03', 'X11']
(25.248513, 82.927774): count = 2, offices = ['U04', 'U148']
(25.5762215, 85.2358959): count = 5, offices = ['T01', 'T10', 'T12', 'T17', 'T90']
(26.13382, 91.62004): count = 4, offices = ['X01', 'X10', 'X42', 'X43']
(26.722948, 80.902664): count = 4, offices = ['U147', 'U149', 'U39', 'U43']
(26.74426398, 88.3537118): count = 4, offices = ['K129', 'K135', 'K66', 'K96']
(26.88274, 75.740257): count = 5, offices = ['Q05', 'Q08', 'Q46', 'Q47', 'Q48']
(27.21137, 77.961799): count = 2, offices = ['U09', 'U34']
(28.40651465, 76.88362896): count = 2, offices = ['L23', 'L24']
(28.49562696, 77.06081857): count = 3, offices = ['L04', 'L14', 'L30']
(28.53231663, 77.09848338): count = 12, offices = ['L01', 'N04', 'N05', 'N06', 'N12', 'N20', 'N24', 'N39', 'N41', 'N44', 'S25', 'U137']
(28.53912798, 77.26958264): count = 2, offices = ['S04', 'S13']
(28.634016, 77.31575): count = 2, offices = ['N02', 'N43']
(28.68924002, 77.43653512): count = 3, offices = ['U11', 'U146', 'U33']
(28.7454745, 77.1360366): count = 2, offices = ['N17', 'N45']
(28.95974, 79.42132): count = 2, offices = ['U23', 'U37']
(30.3642, 77.847537): count = 2, offices = ['U28', 'U36']
(30.403561, 76.787836): count = 2, offices = ['J06', 'J10']
(30.667815, 76.837394): count = 5, offices = ['J13', 'J29', 'J30', 'J55', 'J56']
Total (lat, lon) shared by multiple offices: 51
Total (lat, lon) used by only one office: 483

In [22]:
# Only consider rows where the 'name' column contains 'hub' or 'apex' as a whole word (case-insensitive)
import re

name_col = office_df['name'].astype(str).str.strip().str.lower()
hub_mask = name_col.str.contains(r'\bhub\b', case=False, regex=True) | name_col.str.contains(r'\bapex\b', case=False, regex=True)

# DataFrame for hub/apex locations (word match)
hub_locations = office_df[hub_mask].copy()

# DataFrame for branch locations: name contains 'branch' as a whole word (case-insensitive)
branch_mask = name_col.str.contains(r'\bbranch\b', case=False, regex=True)
branch_locations = office_df[branch_mask].copy()

In [23]:
hub_locations.to_csv("hub_locations.csv", index=False)
hub_locations

,zone,region,city,office,name,lat,lon
0,WEST,AHMEDABAD,AHMEDABAD,A01,AHMEDABAD APEX,23.106556,72.683222
3,WEST,AHMEDABAD,SURAT,A04,SURAT APEX,21.175874,72.955277
8,WEST,AHMEDABAD,BARODA,A17,BARODA SCS APEX,22.345870,73.242320
10,WEST,AHMEDABAD,AHMEDABAD,A19,BAKROL APEX,23.014204,72.669816
11,WEST,AHMEDABAD,SURAT,A21,SURAT SCS APEX,21.183570,72.924810
...,...,...,...,...,...,...,...
614,EAST,GUWAHATI,AGARTALA,X03,AGARTALA APEX,23.835108,91.270311
620,EAST,GUWAHATI,AGARTALA,X11,AGARTALA T/S APEX,23.835108,91.270311
628,EAST,GUWAHATI,DIBRUGARH,X21,DIBRUGARH APEX,27.480612,94.906651
640,EAST,GUWAHATI,AGARTALA,X35,HGB ROAD APEX,23.829124,91.277723
647,EAST,GUWAHATI,GUWAHATI,X42,DHARAPUR T/S APEX,26.133820,91.620040

In [24]:
# Group by lat/lon and aggregate office codes as a list
lat_lon_offices = hub_locations.groupby(['lat', 'lon'])['office'].agg(list).reset_index()

# For each (lat, lon) shared by multiple offices, print the count and the codes
shared_lat_lon_count = 0
unique_lat_lon_count = 0
for _, row in lat_lon_offices.iterrows():
    if len(row['office']) > 1:
        print(f"({row['lat']}, {row['lon']}): count = {len(row['office'])}, offices = {row['office']}")
        shared_lat_lon_count += 1
    elif len(row['office']) == 1:
        unique_lat_lon_count += 1

print(f"Total (lat, lon) shared by multiple offices: {shared_lat_lon_count}")
print(f"Total (lat, lon) used by only one office: {unique_lat_lon_count}")

(10.06337, 76.28998): count = 2, offices = ['O06', 'O91']
(11.6476208, 78.1225439): count = 2, offices = ['E04', 'E14']
(13.0633359, 80.139097): count = 3, offices = ['C20', 'C54', 'C75']
(13.1066, 77.6187): count = 4, offices = ['B10', 'B112', 'B117', 'B37']
(16.5479875, 80.6892874): count = 2, offices = ['V06', 'V59']
(17.25955818, 78.37652436): count = 2, offices = ['H13', 'H64']
(17.5429966, 78.4879812): count = 2, offices = ['H66', 'H90']
(18.628523, 73.873561): count = 2, offices = ['P01', 'P75']
(19.102839, 72.882515): count = 4, offices = ['M10', 'M13', 'M69', 'M83']
(19.30625904, 73.10881733): count = 2, offices = ['M33', 'M72']
(20.302516, 85.85346): count = 2, offices = ['W53', 'W55']
(21.0595127, 79.0560147): count = 2, offices = ['R01', 'R05']
(21.258502, 81.557855): count = 2, offices = ['R06', 'R17']
(22.61790235, 88.27881141): count = 2, offices = ['K128', 'K95']
(22.62824545, 88.44588786): count = 3, offices = ['K16', 'K55', 'K65']
(22.746654, 75.892436): count = 2, offices = ['I01', 'I04']
(23.106556, 72.683222): count = 2, offices = ['A01', 'A52']
(23.35235, 85.377875): count = 3, offices = ['T02', 'T33', 'T35']
(23.83510848, 91.27031132): count = 2, offices = ['X03', 'X11']
(25.5762215, 85.2358959): count = 3, offices = ['T01', 'T12', 'T17']
(26.13382, 91.62004): count = 2, offices = ['X01', 'X42']
(26.722948, 80.902664): count = 3, offices = ['U147', 'U39', 'U43']
(26.74426398, 88.3537118): count = 2, offices = ['K66', 'K96']
(26.88274, 75.740257): count = 3, offices = ['Q05', 'Q08', 'Q46']
(28.49562696, 77.06081857): count = 2, offices = ['L14', 'L30']
(28.53231663, 77.09848338): count = 10, offices = ['L01', 'N04', 'N05', 'N06', 'N20', 'N24', 'N39', 'N41', 'S25', 'U137']
(28.68924002, 77.43653512): count = 2, offices = ['U11', 'U33']
(30.667815, 76.837394): count = 3, offices = ['J29', 'J30', 'J55']
Total (lat, lon) shared by multiple offices: 28
Total (lat, lon) used by only one office: 39

In [25]:
branch_locations.to_csv("branch_locations.csv", index=False)
branch_locations

,zone,region,city,office,name,lat,lon
1,WEST,AHMEDABAD,BARODA,A02,BARODA BRANCH,22.334243,73.165526
2,WEST,AHMEDABAD,RAJKOT,A03,RAJKOT BRANCH,22.279834,70.795481
4,WEST,AHMEDABAD,VAPI,A05,VAPI BRANCH,20.360250,72.917900
5,WEST,AHMEDABAD,ANKLESHWAR,A07,ANKLESHWAR BRANCH,21.611786,73.020178
6,WEST,AHMEDABAD,AHMEDABAD,A11,KHOKHRA BRANCH,23.007437,72.613688
...,...,...,...,...,...,...,...
637,EAST,GUWAHATI,JORHAT,X32,DIMAPUR BRANCH,25.911484,93.702555
638,EAST,GUWAHATI,NAOGAON,X33,JAGIROAD BRANCH,26.121130,92.197942
639,EAST,GUWAHATI,BONGAIGON,X34,BARPETA BRANCH,26.331789,91.008538
641,EAST,GUWAHATI,GUWAHATI,X36,AMINGAON BRANCH,26.188082,91.664672
642,EAST,GUWAHATI,MORANHAT,X37,MORAN BRANCH,27.197441,94.910303

In [26]:
# Group by lat/lon and aggregate office codes as a list
lat_lon_offices = branch_locations.groupby(['lat', 'lon'])['office'].agg(list).reset_index()

# For each (lat, lon) shared by multiple offices, print the count and the codes
shared_lat_lon_count = 0
unique_lat_lon_count = 0
for _, row in lat_lon_offices.iterrows():
    if len(row['office']) > 1:
        print(f"({row['lat']}, {row['lon']}): count = {len(row['office'])}, offices = {row['office']}")
        shared_lat_lon_count += 1
    elif len(row['office']) == 1:
        unique_lat_lon_count += 1

print(f"Total (lat, lon) shared by multiple offices: {shared_lat_lon_count}")
print(f"Total (lat, lon) used by only one office: {unique_lat_lon_count}")

(13.1052, 77.6178): count = 2, offices = ['B118', 'B26']
(16.5479875, 80.6892874): count = 2, offices = ['V19', 'V58']
(18.53516349, 73.84994089): count = 2, offices = ['P12', 'P64']
(19.153508, 72.936865): count = 2, offices = ['M50', 'M59']
(19.16970592, 72.85830827): count = 2, offices = ['M05', 'M74']
(20.4071466, 85.8776718): count = 2, offices = ['W02', 'W58']
(22.62824545, 88.44588786): count = 2, offices = ['K05', 'K83']
(22.746583, 75.892511): count = 2, offices = ['I46', 'I48']
Total (lat, lon) shared by multiple offices: 8
Total (lat, lon) used by only one office: 361

In [27]:
# Get all unique regions from hub_locations
unique_regions = hub_locations['region'].unique()
print("No. of Unique regions:", len(unique_regions))
for region in unique_regions:
    print(region)

No. of Unique regions: 21
AHMEDABAD
BANGALORE
CHENNAI
COIMBATORE
HYDERABAD
INDORE REGIONAL OFFICE
HHPT REGIONAL OFFICE
KOLKATA
GGR REGIONAL OFFICE
MUMBAI
NORTH DELHI RO
COCHIN
PUNE
JAIPUR
NAGPUR RO
SOUTH DELHI RO
PATNA
GHAZIABAD RO
VIJAYAWADA
BHUBANESHWAR
GUWAHATI

In [28]:
# Mapping of region names to their hub office codes.
# All branches in a region will be mapped to the corresponding hub.
region_to_hub_office = {
    'AHMEDABAD': 'A01',
    'BANGALORE': 'B10',
    'CHENNAI': 'C20',
    'COIMBATORE': 'E01',
    'HYDERABAD': 'H13',
    'INDORE REGIONAL OFFICE': 'I01',
    'HHPT REGIONAL OFFICE': 'J10',
    'KOLKATA': 'K16',
    'GGR REGIONAL OFFICE': 'N05',
    'MUMBAI': 'M10',
    'NORTH DELHI RO': 'N05',
    'COCHIN': 'O06',
    'PUNE': 'P01',
    'JAIPUR': 'Q05',
    'NAGPUR RO': 'R01',
    'SOUTH DELHI RO': 'N05',
    'PATNA': 'T01',
    'GHAZIABAD RO': 'U11',
    'VIJAYAWADA': 'V06',
    'BHUBANESHWAR': 'W53',
    'GUWAHATI': 'X03'
}